h1 {
  justify-content: center;
}

.main-section h3 {
  font-size: larger;
  color: blueviolet;
}

/* The sidenav */

#navbar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: orange;
  overflow-x: hidden;
  padding-top: 10px 10px 10px 25px;
}
.nav-link {
  text-decoration: none;
  font-family: 'Aldrich';
  border-top: 1px;
  cursor: pointer;
}
.navlist {
  list-style-type: none;
}
.nav_header {
  font-family: 'Aldrich';
  text-align: center;
  text-decoration: underline;
  line-height: 1.75;
  font-size: 1.25em;
  padding: 10px;
}
/* Style the links inside the navigation bar */

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 12px;
  font-size: 1em;
}
/* Change the color of links on hover */

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
h1 {
  font-family: 'Aldrich';
  font-size: 2.5em;
  text-decoration: underline;
  margin-left: 230px;
}
h3 {
  font-family: 'Aldrich';
  font-size: 1.5em;
}
code {
  display: block;
  text-align: left;
  white-space: pre;
  line-height: 2.5;
  background-color: #e0ebeb;
  padding: 15px;
  margin: 10px;
  color: #000099;
  border-radius: 5px;
}
/* Page content */

.main-section {
  font-family: 'Asap';
  font-size: 1.25em;
  margin-left: 230px;
  /* Same as the width of the sidenav */
}
footer {
  font-family: 'Aldrich';
  font-size: 1em;
  margin-left: 230px;
}
/*responsively scale text */

@media only screen and (max-width: 320px) {
  body {
    font-size: 2em;
  }
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .nav-link {
    padding-top: 15px;
  }
  .nav-link a {
    font-size: 18px;
  }
}
